<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${titulo}">Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ">
            <a class="navbar-brand " href="#">Ventas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente/listar}">cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/producto/listar}">Productos</a>
                    </li>
                    <div style="padding-left: 950px;">
                        <form th:action="@{/logout}" class="d-flex" role="search">
                            <button class="btn btn-outline-danger" type="submit" style="border-color:red; margin-left: 8px;">Cerrar Sesión</button>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <h1 style="background-color: aqua;border-radius: 50px;"th:text="${titulo}" class="text-center"></h1>
        <table style = "background-color: pink;"class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Unidades</th>            
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto: ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.Descripcion}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.Unidades}"></td>            
                </tr>
            </tbody>
        </table>

    <div>

        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"> </div>
    <form  th:object="${detalle}" th:action="@{/ventas/añadir}" method="post" style="background-color: greenyellow; border-color: black; border: 2px; border-style: solid; padding: 20px;">
        <div class="form-group" >
            <div class="col-sm-6" style="background-color: white; border-radius: 3px;">
                <p style="color:black; ">Ingrese el id del producto que desea comprar y luego presione enter</p>
                <input autofocus autocomplete="off" type="text" th:field="*{id}" id="id" class="form-control">
            </div>
        </div>
    </form>
    <h1 th:text="${'Total: ' + total}"></h1>
    <form th:action="@{/ventas/finalizar}" method="post" style="border-color: black; border: 2px; border-style: solid; padding: 20px;">
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-xs" id="Aux5" style="border-color: black;">Terminar</button>
                <a class="btn btn-xs" th:href="@{/ventas/limpiar}" id="Aux5" style="border-color: black;">Cancelar</a>
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Quitar de la lista</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalle, iterador: ${session.canasta}">
                <th th:text="${detalle.id}"></th>
                <th th:text="${detalle.productoMap.nombre}"></th>
                <th th:text="${detalle.productoMap.descripcion}"></th>
                <th th:text="${detalle.Cantidad}"></th>
                <th th:text="${detalle.productoMap.precio}"></th>
                <th th:text="${detalle.valorVenta * detalle.Cantidad}"></th>
                <th>
                    <form th:action="@{/ventas/Quitar/} + ${iterador.index}" method="post">
                        <button type="submit" class="btn btn-xs" id="Aux5" style="border-color: black;">Quitar</button>
                    </form>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
</body>

</html>