<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link  th:href="@{/css/style.css}">
    <title th:text="${tituloP}">Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ">
            <a class="navbar-brand " href="#">Ventas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente/listar}">cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/producto/listar}">Productos</a>
                    </li>
                    <div style="padding-left: 950px;">
                        <form th:action="@{/logout}" class="d-flex" role="search">
                            <button class="btn btn-outline-danger" type="submit" style="border-color:red; margin-left: 8px;">Cerrar Sesión</button>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </nav>


<div style="flex: auto;">
    <h1 style="align-self: center; background-color: black; color: azure;"th:text="${tituloP}"></h1>
    <table class="table text-center" style="background-color: aquamarine;">
        <thead>
            <tr>
                <th scope="col">id venta</th>
                <th scope="col">id cliente</th>

                <th scope="col">subtotal</th>
                <th scope="col">total</th>
                <th scope="col">fecha</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="venta: ${ventas}" style="background-color: aquamarine;">
                <td th:text="${venta.id}"></td>
                <td th:text="${venta.cliente.id}"></td>               
                <td th:text="${venta.subtotal}"></td>
                <td th:text="${venta.subtotal*1.19}"></td>
                <td th:text="${venta.fecha}"></td>

            </tr>
        </tbody>
    </table>

</div>


<h1 style="background-color: black; color: azure;" >DETALLES</h1>



<h1></h1>
<div style="flex:auto">
    <table class="table text-center" style="background-color: aquamarine;">
        <thead>
            <tr>
                <th scope="col">id Detalle</th>
                
                <th scope="col">nombre producto</th>
                <th scope="col">cantidad producto</th>
                <th scope="col">valor producto</th>
                <th scope="col">valor venta</th>
                <th scope="col">venta relacionada</th>
                <th scope="col">id cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalle: ${detalles}">
                <td th:text="${detalle.id}"></td>
                <td th:text="${detalle.productoMap.nombre}+' ' + ${detalle.productoMap.descripcion}"></td>              
                <td th:text="${detalle.cantidad}"></td>
                <td th:text="${detalle.productoMap.precio}"></td>
                <td th:text="${detalle.productoMap.precio*detalle.cantidad}"></td>
                <td th:text="${detalle.ventaMap.id}"></td>
                <td th:text="${detalle.venta.cliente.id}"></td>
            </tr>
        </tbody>
    </table>

    <h1 style="background-color: black; color: azure;">FACTURA</h1>
    <div>
        <table class="table text-center" style="float:right; margin: left 20px; background-color: darkgray;" >
            <thead>
                <tr>
                    <th scope="col">subtotal</th>
                    <th scope="col">total</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td th:text="${total}"></td>
                    <td th:text="${total*1.19}"></td>
    
                </tr>
            </tbody>
        </table>
    </div>

</div>

</body>

</html>