<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${tituloP}">Document</title>
</head>
<body>
    <div th:text="${venta}"></div>
    <div th:text="${cliente}"></div>
<div style="flex: auto;">
    <h1 style="align-self: center;"th:text="${tituloP}"></h1>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">id venta</th>
                <th scope="col">id cliente</th>

                <th scope="col">subtotal</th>
                <th scope="col">total</th>
                <th scope="col">fecha</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="venta: ${ventas}">
                <td th:text="${venta.Id}"></td>
                <td th:text="${venta.cliente.id}"></td>               
                <td th:text="${venta.subtotal}"></td>
                <td th:text="${venta.total}"></td>
                <td th:text="${venta.fecha}"></td>

            </tr>
        </tbody>
    </table>

</div>
<form th:action="@{/ventas/listar}">
    <label> Ingrese una venta para ver el detalle</label>
    <input type="submit"><a class="btn btn-primary btn-xs" >Ver Compras</a></input>
    <div class="form-control">
        <div class="col-sm-6">
            <input type="submit" th:value="${ventas.id}"  class="btn btn-primary">
        </div>
    </div>
</form>





<h1></h1>
<div style="flex:auto">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">id Detalle</th>
                
                <th scope="col">nombre producto</th>
                <th scope="col">cantidad producto</th>
                <th scope="col">valor producto</th>
                <th scope="col">valor venta</th>
                <th scope="col">id cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalle: ${detalles}">
                <td th:text="${detalle.id}"></td>
                <td th:text="${detalle.productoMap.nombre}"></td>
                
                <td th:text="${detalle.cantidad}"></td>
                <td th:text="${detalle.productoMap.precio}"></td>
                <td th:text="${detalle.valorVenta}"></td>
                <td th:text="${detalle.venta.cliente.id}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>

</html>