body
{
  background:  url("/src/main/resources/images/kaneki.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#prueba{
  text-align: end;
}
.prueba{
  color: aqua;
}